[CRAB]
jobtype = cmssw
scheduler = glite

[CMSSW]
datasetpath		= /MinimumBias/Commissioning10-PromptReco-v7/RECO
pset			= TrkAnaSkim_data_7TeV_cfg.py
total_number_of_events	= 100000
events_per_job		= 10000
output_file             = trkAnaSkimAOD.root
runselection		= 132440,132471

[USER]
additional_input_files = EarlyCollision.db
copy_data		= 1
storage_element		= srm-cms.cern.ch
storage_path            = /srm/managerv2?SFN=/castor/cern.ch
user_remote_dir		= /user/e/edwenger/trkAnaSkim/MB_C10-PromptReco_v7_pptrkana_skim/v1

[GRID]
#ce_white_list=ce01.cmsaf.mit.edu
ce_black_list=cream-ce-1.ba.infn.it
